/* Universal Styles */
* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    right: 0px;
    top: 0px;
    text-align: right;
    margin: 10px;
}

header ul li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
}

/* Navigation */

.navigationBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigationBar a {
    color: #000000;
}

.navigationBar a:hover {
    text-decoration: underline;
}

#leftNav {
    justify-content: flex-start;
    padding: 5px;
}

#rightNav {
    justify-content: flex-end;
}

#toilet {
    border: 10px solid #ffffff;
    color: #0331ff;
}

#toilet:hover {
    border: 10px solid gold;
    border-radius: 50%;
}

#sign-in {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: #0432ff;
    color: #ffffff;
    position: relative;
    font-size: .80em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 200;
    margin: 0px 5px 5px 5px;
    border: 0px solid #ffffff;
}

#sign-in:hover {
    background-color: #0096ff;
}

.main-container {
    margin-top: 150px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#logo {
    clear: both;
    width: 100%;
    text-align: center;
}

#searchBar {
    clear: both;
    width: 100%;
    text-align: center;
}

#searchButtons {
    margin-top: 25px;
}

#googleBlurb {
    clear: both;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color:#1a0caa;
    font-size: 12px;
}

#googleBlurb:hover {
    text-decoration: underline;
}

#search-box {
    width: 600px;
    height: 35px;
    border: 1px solid #999999;
    border-radius: 30px;
    padding: 5px;
    margin: 0px 0px 5px 0px;
}

#search-box:hover {
    border: 2px solid gold;
}

#searchButtons {
    clear: both;
    margin-top: 30px;
}

.button {
    border-radius: 5px;
    width: 140px;
    height: 40px;
    background-color: #f7f9fa;
    color: #53565a;
    position: relative;
    font-size: .80em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 200;
    margin: 0px 5px 5px 5px;
    border: 0px solid #ffffff;
}

.button:hover {
    border: 1px solid #9ca0a4;
}

footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #f1f2f1;
    margin-bottom: 0px;
}

footer a {
    color: #9ca0a4;
}

footer a:hover {
    text-decoration: underline;
}

footer ul li {
    display: flex;
    margin: 10px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-left {
    display: flex;
    align-items: center;
}

#footer-center {
    display: flex;
    align-items: center;
}

#footer-right {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 950px) {
    .footer-container {
        order: 0;
        width: 100%;
        justify-content: center;
    }

    .main-container {
        width: 100%;
    }

}